header
    div(class='head-logo')
        div(class='logo')
        h1 Sakura Palace Restaurant
    ul(class='menu')
        li(class='link')
            a(href='#', class='link_text') Menu
        li(class='link')
            a(href='#', class='link_text') Reservations
        li(class='link')
            a(href='#', class='link_text') About Us
        li(class='link')
            a(href='#', class='link_text') Contact
    div(class='search')
        input(type="text", placeholder='Search in site')
    div(class='order')
        div Your Order:  
        a(class='order_id', href='#') 5  