@font-face {
    font-family: 'JustBreathe';
    src: url('../fonts/JustBreathe.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheBd';
    src: url('../fonts/JustBreatheBd.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheBdObl3';
    src: url('../fonts/JustBreatheBdObl3.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheBdObl7';
    src: url('../fonts/JustBreatheBdObl7.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl1';
    src: url('../fonts/JustBreatheObl1.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl2';
    src: url('../fonts/JustBreatheObl2.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl3';
    src: url('../fonts/JustBreatheObl3.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl4';
    src: url('../fonts/JustBreatheObl4.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl5';
    src: url('../fonts/JustBreatheObl5.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'JustBreatheObl7';
    src: url('../fonts/JustBreatheObl7.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'GludakRegular';
    src: url('../fonts/Gludak Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'NunitoItalicVariable';
    src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'NunitoVariable';
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  }